.toggle-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5rem; /* Ajustez la taille de l'icône si nécessaire */
    background: transparent; /* Aucun fond */
    border: none; /* Aucune bordure */
    padding: 0; /* Pas de padding */
    margin: 0; /* Pas de margin */
    line-height: 0; /* Pas de ligne hauteur pour centrer l'icône */
  }

  .faSun {
    color: aqua;
  }
  @media (max-width: 930px) {
    .toggle-button {
      font-size: 12px;
    }
  }
  @media (max-width: 600px) {
    .toggle-button {
      display: none;
    }
  }
  