@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Variables
$background-dark: #2f2f2f;
$background-light: #f0f0f0;
$primary-color: $d4;
$primary-color-hover: $d5;
$white: #ffffff;
$modal-overlay-bg: rgba(0, 0, 0, 0.5);

// Container Principal
.portfolio {
  .banner-container {
    padding-top: 50px;
  }  
  .card-container {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 100px;
    column-gap: 200px;
    padding: 20px;
  }

  .card1 {
    padding: 20px;
    border-radius: 25px;
    width: 300px;
    text-align: center;
    color: $white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-10px);
    }

    .card-image {
      width: 100%;
      height: 200px;
      border-radius: 18px;
      margin-bottom: 15px;
    }

    .card-title {
      margin: 10px 0;
      font-size: 1.5rem;
    }

    .card-icons {
      display: flex;
      justify-content: space-around;
      margin-bottom: 15px;

      svg {
        font-size: 30px;
      }
    }

    .see-more-button {
      background-color: $primary-color;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      color: $white;
      cursor: pointer;
      font-family: "Montserrat", sans-serif;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 200;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $primary-color-hover;
      }
    }
  }

  // Style du modal
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $modal-overlay-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-content {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    text-align: center;
  
    .close-modal {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: #333;
      &:hover {
        color: #ff6347;
      }
    }
  
    .modal-image {
      width: 90%;
      border-radius: 8px;
      margin-bottom: 15px;
    }
  
    h2 {
      margin-bottom: 10px;
      font-size: 2rem;
    }
  
    p {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
  
    .redirect-button {
      background-color: #ff6347;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #ff4500;
      }
    }
  }
  
}


// Dark Mode 
.dark-mode {
 .card1 {
    background-color: $d2;

    .card-title {
        color: $l1;
    }
    svg {
        color: $d5;
    }
    &:hover {
        border: 1px solid $d5;
      }
    .card-image {
      border: #f0f0f0 solid 2px;
    }
 }

 .modal-content {
    background-color: $d1;
    color: white;
 }
 .close-modal {
    svg {
        color: white;
    }
 }
}

// Light Mode 
.light-mode {
    .card1 {
        background-color: $l2;

        .card-title {
            color: $d1;
        }
        svg {
            color: $l5;
        }
        &:hover {
            border: 1px solid $l5;
        }
     }
     .modal-content {
        background-color: $l1;
        color: black;
     }
     .close-modal {
        svg {
            color: black;
        }
     }
}