@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.dark-mode {
    .accueil {
        .title-accueil {
            padding-top: 250px;
            color: white;
            font-weight: 900;
            font-size: 50px;
            width: 50%;
            text-transform: uppercase;
            text-align: center;
            font-family: "Montserrat", sans-serif;

        }

        .texte-accueil {
            width: 70%;
            text-align: center;
            font-size: 25px;
            font-family: "Montserrat", sans-serif;
            font-weight: 300;
            color: white;
            padding-bottom: 250px;
        }
    }
}

.light-mode {
    .accueil {
        .title-accueil {
            color: black;
        }
        .texte-accueil {
            color: black;
        }
    }
}

@media (max-width: 460px) {
    .accueil {
        .title-accueil {
            padding-top: 200px!important;
            width: 90%!important;
            font-size: 30px!important;
        }
        .texte-accueil {
            width: 90%!important;
            font-size: 15px!important;
        }
    }
}