@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import '../../styles/variables.scss';

html {
  scroll-behavior: smooth;
  transition: background-color 3.3s, color 3.3s!important;
}

/* Mode sombre */
.dark-mode {
  header {
    background: linear-gradient(0.25turn, $d2, $d3);
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navbar {
    color: white;
  }
  svg {
    color: #ffffff;
  }
}

/* Mode clair */
.light-mode {
  header {
    background: linear-gradient(0.25turn, $l2, $l3);
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navbar {
    color: black;
  }
  svg {
    color: black;
  }
}

/* Styles généraux */
header {
  position: fixed; /* Fixe le header en haut de la page */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* S'assure que le header est au-dessus des autres éléments */
  padding: 0; /* Supprime le padding du header pour éviter l'agrandissement */
  background-color: inherit;
}

.navbar {
  display: flex; /* Pour aligner les éléments de la navbar */
  align-items: center; /* Centre les éléments verticalement */
  justify-content: space-between; /* Espace entre les éléments */
  height: 60px; /* Hauteur définie pour la navbar */
  font-family: "Montserrat", sans-serif;
  padding: 0 1rem; /* Espacement horizontal pour les petits écrans */
}

.nav-links {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #fc2221; /* Couleur de survol */
}

.nav-links a:active {
  color: #fc2221; /* Couleur de survol */
}

/* Ajoute un padding au contenu principal pour compenser la hauteur du header */
.main-content {
  padding-top: 60px; /* Correspond à la hauteur de la navbar */
}

/* Styles pour le bouton hamburger */
.nav-phone {
  display: none;
}

@media (max-width: 930px) {
  .nav-links li {
    margin: 0 0.5rem;
    a {
      font-size: 12px;
    }
  }
}

@media (max-width: 745px) {
  .nav-links li {
    margin: 0 0.5rem;
    a {
      font-size: 10px;
    }
  }
}
@media (max-width: 600px) {
  header {
    background: none!important;
  }
  .nav-links {
    display: none;
  }
  .nav-phone {
    list-style: none;
    display: flex;
    position: fixed;
    bottom: 1rem;
    left: 10%;
    gap: 30px;
    border-radius: 4rem;
    padding: 1.5rem 3.25rem;
    backdrop-filter: blur(10px);
    transition: .4s;
    li, a {
      text-decoration: none;
    }
  }
  .toggle-button {
    display: block;
    position: fixed;
    font-size: 18px;
    bottom: 3.5rem;
    left: 3.7rem;
    svg {
      color: white;
    }
  }
  .dark-mode {
    .nav-phone {
      background-color: $d3;
    }
  }

  .light-mode {
    .nav-phone {
      svg {
        color: white;
      }
    }
  }

}
