@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.contact {
    font-family: "Montserrat" sans-serif;
    // Style pour le conteneur global de contact
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
   
    .contact-container {
      display: flex;
      border-radius: 25px;
      width: 100%;
      max-width: 816px; // Ajuste la largeur maximale du conteneur
      margin-top: 20px;
      gap: 20px; // Espace entre les deux colonnes
  
      .contact-info {
        flex: 1;
        padding-left: 20px;
        h2 {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 32px;
        }
        #icon-reply {
            position: relative;
            bottom: 40px;
            left: 250px;
            font-size: 80px;
            transform: rotate(180deg);

        }
        .email-info {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          a {
            font-size: 16px;
            text-decoration: none;
          }
          svg {
            margin-right: 10px;

          }
        }
      }
  
      .contact-forms {
        flex: 1;
        padding: 20px;
  
        form {
          display: flex;
          flex-direction: column;
          gap: 15px;
  
          .form-group {
            display: flex;
            flex-direction: column;
            
            label {
              font-size: 1rem;
              margin-bottom: 5px;
            }
  
            input,
            textarea {
              padding: 10px;
              border: 1px solid #ccc;
              border-radius: 4px;
              font-size: 1rem;
              color: #333;
            }
  
            input {
              height: 40px;
            }
  
            textarea {
              resize: vertical;
            }
          }
  
          button {
            align-self: flex-start;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            background-color: #007bff; // Couleur de fond du bouton
            color: white;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
  
            &:hover {
              background-color: #0056b3; // Couleur de fond du bouton au survol
            }
          }
        }
      }
    }
  }


  .dark-mode {
    font-family: "Montserrat" sans-serif;

    .contact {
        
        .contact-container {
            margin-top: 150px;
            margin-bottom: 150px;
            background-color: $d2;

            .contact-info {
                h2 {
                    color: $l1;

                    strong {
                        color: $d5;
                    }
                }

                .email-info {
                  a {
                    color: $l1;
                  }
                    svg {
                        color: $d5;
                    }
                }
            }
            label {
                font-family: "Montserrat" sans-serif;

                font-weight: 600;
                font-size: 15px;
                color: $l1;
            }
        }

        
    }

  }

  .light-mode {
    .contact {
        
        .contact-container {
            background-color: $l2;

            .contact-info {
                h2 {
                    color: $d1;

                    strong {
                        color: $l5;
                    }
                }

                .email-info {
                  a {
                    color: $d1;
                  }
                    svg {
                        color: $l5;
                    }
                }
            }
            label {
                font-weight: 600;
                font-size: 15px;
                color: $d1;
            }
        }

        
    }

  }

  .status-message {
    margin-top: 20px;
    font-size: 1.2rem;
    color: green; // Change la couleur selon ton design
    text-align: center;
}

@media (max-width: 600px) {
  .contact {
    .contact-container {
      margin-top: 1px!important;
      display: flex;
      flex-direction: column;

      .contact-info {
        #icon-reply {
          display: none;
        }
      }
    }
  }
}