@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.footer {
    padding: 10px;
    // Ensure footer stretches across full width
    box-sizing: border-box;
  
    &__nav {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
  
      .footer__nav-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
  
          a {
            text-decoration: none;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 20px;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap; // Allows items to wrap if necessary
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
  
      &__left {
        display: flex;
        align-items: center;
        flex: 1;
  
        .footer__logo {
          margin-right: 30px;
          margin-top: 10px;
  
          img {
            height: 50px;
            width: auto;
          }
        }
  
        .footer-social {
          display: flex;
  
          a {
            margin-right: 15px;
            text-decoration: none;
            svg {
                font-size: 25px;
            }
  
            &:hover {
              color: #007bff;
            }
          }
        }
      }
  
      &__right {
        display: flex;
        align-items: center;
        color: #6c757d;
        flex: 1;
        justify-content: flex-end; // Align text to the right
        text-align: right;
  
        p {
          margin: 0;
        }
      }
    }
  }
  

  .dark-mode {
    .footer {
        background-color: $d2;

        .footer__nav-list li a {
            color: white;
        }

        .footer__content {
            border-top: 2px solid $d5;
        }

        .footer-social {
            padding-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 50px;
        }
        svg {
            color: $d5;
            font-size: 25px;
        }

        .footer__right {
            color: white;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 300;
        }
    }
  }
  .light-mode {
    .footer {
        background-color: $l2;

        .footer__nav-list li a {
            color: black;
        }

        .footer__content {
            border-top: 2px solid $l5;
        }

        .footer-social {
            padding-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 50px;
        }
        svg {
            color: $l5;
            font-size: 25px;
        }

        .footer__right {
            color: black;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 300;
        }
    }
  }

  @media (max-width: 600px) {
    .footer__nav-list {
      display: flex!important;
      flex-direction: column!important;
      align-items: center!important;

    }
    .footer__left {
      .footer__logo {
        img {
          width: 350px;
        }
      }
    }

    .footer {
      .footer__right {
        padding-bottom: 150px;
      }
    }
  }